# Fel7o Media Pro Environment Variables
BOT_TOKEN=
BOT_USERNAME=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:9876/callback
ADMIN_CHAT_ID=0
DEFAULT_BITRATE=flac
SPOTIFY_POLL_INTERVAL_SECONDS=21600
